[Desktop Entry]
Encoding=UTF-8
Name=Link to Download
Type=Link
URL=http://www.simpleimageresizer.com/_uploads/photos/b820fae6/2_1_300x.jpg
Icon=image-jpeg
